@using FootballAppMVC.Controllers
@using FootballAppMVC.Models
@model  List<MainMenu>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="navbar navbar-inverse" style="background-color: #043687; margin-bottom:0px; border:none; border-radius:0px;">
    <div class="container-fluid">
        <div class="navbar-header navTitle">
            <button type="button" class="navSlideBtn navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand " href="#"><i class="fa fa-futbol-o" aria-hidden="true"></i> Football App</a>
        </div>
        <div class="collapse navbar-collapse mainNav" id="myNavbar">
            <ul class="nav navbar-nav">

                @foreach (var navElem in Model)
                {
                    if (navElem.Availabilty == true)
                    {
                        <li>@Html.ActionLink(navElem.Text, navElem.Link, navElem.Text)</li>
                    }
                }

            </ul>
            @if (ViewBag.curUser == "")
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Sign Up", "SignUp", "Register")</li>
                    <li>@Html.ActionLink("Login", "EnterSystem", "Login")</li>
                </ul>
            }
            @if (!(ViewBag.curUser == ""))
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a>Hello, @ViewBag.curUser</a></li>
                    <li>@Html.ActionLink("Logout", "Exit", "Logout")</li>
                </ul>
            }

        </div>
    </div>
</nav>
<div class="dropdownNav">
    <ul>
        @foreach (var navElem in Model)
        {
            if (navElem.Availabilty == true)
            {
                <li>@Html.ActionLink(navElem.Text, navElem.Link, navElem.Text)</li>
            }
        }
        @if (ViewBag.curUser == "")
            {
            <li>@Html.ActionLink("Sign Up", "SignUp", "Register")</li>
            <li style="border-bottom:none ">@Html.ActionLink("Login", "EnterSystem", "Login")</li>
        }
        @if (!(ViewBag.curUser == ""))
            {
            <li><a>Hello, @ViewBag.curUser</a></li>
            <li style="border-bottom:none ">@Html.ActionLink("Logout", "Exit", "Logout")</li>
        }
    </ul>
</div>
<!--THE SLIDER-->
<section class="ikramMainSlider">
    <div class="container">
        <div class="sliderFrame">
            <div class="sliderLent">
                <img src="~/Images/santiago.jpg" alt="firstPhoto"> <!--temporary photo-->
                <img src="~/Images/field.jpg" alt="firstPhoto"> <!--temporary photo-->
                <img src="~/Images/wanda.jpg" alt="firstPhoto"> <!--temporary photo-->

                <div class="sliderParagraph">Lorem simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                <div class="sliderParagraph">Lorem simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
                <div class="sliderParagraph">Lorem simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
            </div>
            <button class="leftSliderBtn" style="margin-left:47px;">&#10094</button>
            <button class="rightSliderBtn pull-right" style="margin-right:50px">&#10095</button>

        </div>
    </div>
</section>
<!--the end of the slider-->
<!--THE RECENT GAMES -->
<section class="ikramMainRecentGames">
    <div class="container">
        <h2 class="recentGamesTitle">Recent Games</h2>
        <table class="table table-striped">
            <tr>
                <td>Game Name</td>
                <td>Date & Time</td>
                <td>Score</td>
            </tr>
            @foreach (var gamesElem in ViewBag.LastFive)
            {
                <tr>
                    <td>@gamesElem.Name</td>
                    <td>@gamesElem.Date</td>
                    <td>@gamesElem.Score</td>
                </tr>
            }
        </table>
    </div>
</section>
<!-- Your Performance -->
<section class="ikramMainPerformance pull-right">
    <div class="container">
        <h2 class="performanceTitle">Your Performance</h2>
        <table class="table table-striped">
            @foreach (var usersElem in ViewBag.usersItems)
            {
                if (usersElem.Username == CurrentUserHolder.currentUsername)
                {
                    <tr>
                        <td>Wins</td>
                        <td>@usersElem.Wins</td>
                    </tr>
                    <tr>
                        <td>Loses</td>
                        <td>@usersElem.Loses</td>
                    </tr>
                    <tr>
                        <td>Draws</td>
                        <td>@usersElem.Draws</td>
                    </tr>
                    <tr>
                        <td>Goals</td>
                        <td>@usersElem.Goals</td>
                    </tr>
                    <tr>
                        <td>Winning Rate</td>

                        @if ((Convert.ToDecimal(usersElem.Wins) == 0))
                    {
                        decimal winRate = 0;
                        string winRateString = Convert.ToString(Math.Floor(winRate));

                            <td>@winRateString</td>
                        }
                        @if (!(Convert.ToDecimal(usersElem.Wins) == 0))
                    {
                        decimal winRate = ((Convert.ToDecimal(usersElem.Wins)) / (Convert.ToInt32(usersElem.Wins) + Convert.ToInt32(usersElem.Draws) + Convert.ToInt32(usersElem.Loses))) * 100;
                        string winRateString = Convert.ToString(Math.Floor(winRate));

                            <td>@winRateString %</td>
                        }
                    </tr>
                    <tr>
                        <td>Likes</td>
                        <td>@usersElem.Likes</td>
                    </tr>
                }                
            }
        </table>
    </div>
</section>

