@using FootballAppMVC.Controllers
@using FootballAppMVC.Models
@model  List<MainMenu>
@{
    ViewBag.Title = "EnterStatic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="navbar navbar-inverse" style="background-color: #043687; margin-bottom:0px; border:none; border-radius:0px;">
    <div class="container-fluid">
        <div class="navbar-header navTitle">
            <button type="button" class="navSlideBtn navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand " href="#"><i class="fa fa-futbol-o" aria-hidden="true"></i> Football App</a>
        </div>
        <div class="collapse navbar-collapse mainNav" id="myNavbar">
            <ul class="nav navbar-nav">

                @foreach (MainMenu navElem in Model)
                {
                    if (navElem.Availabilty == true)
                    {
                        <li>@Html.ActionLink(navElem.Text, navElem.Link, navElem.Text)</li>
                    }
                }

            </ul>
            @if (ViewBag.curUser == "")
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Sign Up", "SignUp", "Register")</li>
                    <li>@Html.ActionLink("Login", "EnterSystem", "Login")</li>
                </ul>
            }
            @if (!(ViewBag.curUser == ""))
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a>Hello, @ViewBag.curUser</a></li>
                    <li>@Html.ActionLink("Logout", "Exit", "Logout")</li>
                </ul>
            }

        </div>
    </div>
</nav>
<div class="dropdownNav">
    <ul>
        @foreach (var navElem in Model)
        {
            if (navElem.Availabilty == true)
            {
                <li>@Html.ActionLink(navElem.Text, navElem.Link, navElem.Text)</li>
            }
        }
        @if (ViewBag.curUser == "")
            {
            <li>@Html.ActionLink("Sign Up", "SignUp", "Register")</li>
            <li style="border-bottom:none ">@Html.ActionLink("Login", "EnterSystem", "Login")</li>
        }
        @if (!(ViewBag.curUser == ""))
            {
            <li><a>Hello, @ViewBag.curUser</a></li>
            <li style="border-bottom:none ">@Html.ActionLink("Logout", "Exit", "Logout")</li>
        }
    </ul>
</div>
<style>
    .addBtn a {
        color: white;
    }

    #editGame .container .row .col-xs-12 .gameInfo .gameTitle {
        display: block;
    }

    #editGame .container .row .col-xs-12 img {
        width: 38%;
        margin-top: 20px;
    }

    #editGame .container .row .col-xs-12 .gameInfo .gameTitle div {
        margin-top: 20px;
        display: inline-block;
        font-size: 1.8em;
        background: #043687;
        color: white;
        font-family: 'Open Sans Condensed', sans-serif;
        padding: 10px 40px;
        width: 25%;
        text-align: center;
    }
</style>
<section id="editGame">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @*<img class="pull-right" src="~/Images/pitch-clipart-football_pitch.jpg" alt="footballPitch" />*@
                <div class="gameInfo">
                    <div class="gameTitle">
                        @foreach (var game in ViewBag.allGamesList)
                        {
                            if (game.Id == ViewBag.gameId)
                            {
                                foreach (var team in ViewBag.allTeamsList)
                                {
                                    if (game.Team1_id == team.Id)
                                    {
                                        <div>@team.Name</div>
                                    }
                                }

                                foreach (var team in ViewBag.allTeamsList)
                                {
                                    if (game.Team2_id == team.Id)
                                    {
                                        <div>@team.Name</div>
                                    }
                                }
                                if (!(game.Score == null))
                                {
                                    <div>
                                        Score: @game.Score
                                    </div>
                                }

                            }
                        }

                    </div>
                    <div class="players" style="margin-top:30px">
                        <section id="allPlayersTable">
                            <div class="container" style="padding-left:0">
                                <table class="table">
                                    <thead>
                                        <tr style="color:white;background:#043687; font-family:'Open Sans Condensed', sans-serif; font-size:1.3em">
                                            <th>Players</th>
                                            <th>Age</th>
                                            <th>Sex</th>
                                            <th>Email</th>
                                            <th> E n t e r </th>
                                            <th>  S t a t i c   </th>
                                            <th>     </th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        @foreach (var user in ViewBag.allUserList)
                                        {
                                            if (user.Id == ViewBag.PlayerId)
                                            {
                                                using (Html.BeginForm("EnterStatic", "Games", new { EditPlayerID = ViewBag.PlayerId }, FormMethod.Post))
                                                {
                                                    <tr>
                                                        <td>@user.Username</td>
                                                        <td>@user.Age</td>
                                                        <td>@user.Sex</td>
                                                        <td>@user.Email</td>


                                                        <td><input type="number" name="goal" placeholder="Goal"></td>
                                                        <td>
                                                            <select name="Match" class="selectpicker">
                                                                <option value="Win">Win</option>
                                                                <option value="Lose">Lose</option>
                                                                <option value="Draw">Draw</option>
                                                            </select>
                                                        </td>

                                                        <td><input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Add"></td>

                                                    </tr>
                                                }
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>